
$colorTitulosYparrafos:rgb(90, 89, 89);
$colorFondosGris:rgb(204, 204, 204);
$colorRojoBtn: rgb(204, 51, 102);


*{
    margin-top: 0;
    padding: 0;
}


.banner-img{
    max-width: 100%;
    display: block;
  
}

  .div-seguros {
    background-color: rgb(180, 180, 180);
    width: 100%;
    height: 6%;
  
  }
  
  .contenedor-log-seguro-h1 {
    display: flex;
    text-align: center;
    width: 75%;
    margin: auto;
  
  }
  
  .img-logo-seguro {
    max-height: 40px;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .h1-seguros {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-left: 1.5%;
    width: max-content;
  
  }

  .seguros .accordion-body p{
    color: black;
  }
  
  .botones-seguros {
    width: 50%;
    margin: auto;
  }
  
  .botones-seguros h3 {
    margin: auto;
    font-size: 1.5rem;
  }
  
  
  .img-botones-seguro-abierto {
    max-height: 30px;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .img-botones-seguro {
    max-height: 30px;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .seguros .collapsed {
    background-color: rgb(180, 180, 180);
    height: 80px;
    border-radius: 15px !important;
    color: aliceblue;
    border: 2px black solid;
  }
  
  .seguros .collapsed:hover {
    transition: 0.5s;
    border: rgb(201, 60, 60) solid 3px;
    color: rgb(201, 60, 60);
  }
  .seguros .accordion{
    max-width: 860px;
  }
  .seguros .accordion-header {
    margin-bottom: 0.5rem !important;
    max-width: 400px;
    min-width: 240px;
    margin: auto;
  }
  
  .seguros .accordion-button {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.2;
  }
  
  .seguros .accordion-button:not(.collapsed){
    background-color: rgb(201, 60, 60)!important;
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.2;
    border-radius: 15px !important;
    height: 80px;
    color: white!important;
  }
  
  .seguros .accordion-button::after {
    content: none!important;
  }
  
  .seguros .accordion-item {
    border: none!important;
  }
  
  .seguros .accordion-body {
    border: 3px solid rgb(201, 60, 60);
    max-width: 830px;
    margin: auto;
  }
  .seguros .accordion-button:focus{
    box-shadow: none!important;
  }
  
  @media (max-width:1200px) {
    .botones-seguros {
      margin: auto;
      width: 60%;
    }
  }
  
  @media (max-width:830px) {
    .botones-seguros {
      margin: auto;
      width: 80%;
    }
  }
  
  @media (max-width:760px) {
    .seguros .accordion-body {
      max-width: 400px;
      min-width: 220px;
      margin: auto;
    }
  }
  
  @media (max-width:500px) {
    .seguros .accordion-collapse {
      margin: auto;
      padding: 0;
    }
    .seguros .accordion-button {
      margin: auto;
    }
    .seguros .accordion-item{
      padding: 0;
    }
  }
.seccion-formularios-siniestro-y-nuevo-seguro {
  margin-top: 10px;
  margin-bottom: 10px;
}
.seccion-formularios-siniestro-y-nuevo-seguro img {
  max-width: 100%;
}
.seccion-formularios-siniestro-y-nuevo-seguro .div-solicitud-seguro-nuevo .boton-solicitud-seguro-nuevo {
  border: none;
}
.seccion-formularios-siniestro-y-nuevo-seguro .div-solicitud-seguro-nuevo .boton-solicitud-seguro-nuevo:hover {
  border: solid 2px rgb(253, 255, 160);
  transition: 1s;
}
.seccion-formularios-siniestro-y-nuevo-seguro .div-solicitud-seguro-nuevo .img-solicitud-seguro-nuevo-menos500px {
  display: none;
}
.seccion-formularios-siniestro-y-nuevo-seguro .div-informe-de-siniestro {
  margin-top: 10px;
}
.seccion-formularios-siniestro-y-nuevo-seguro .div-informe-de-siniestro .boton-siniestro {
  border: none;
}
.seccion-formularios-siniestro-y-nuevo-seguro .div-informe-de-siniestro .boton-siniestro:hover {
  border: solid 2px rgb(255, 199, 199);
  transition: 1s;
}
.seccion-formularios-siniestro-y-nuevo-seguro .div-informe-de-siniestro .img-informe-de-siniestro-menos500px {
  display: none;
}
.seccion-formularios-siniestro-y-nuevo-seguro .div-informe-de-siniestro .titulo-sinietro {
  display: flex;
  background-color: rgb(204, 204, 204);
  height: 50px;
}
.seccion-formularios-siniestro-y-nuevo-seguro .div-informe-de-siniestro .titulo-sinietro h2 {
  color: rgb(153, 153, 153);
  margin-left: 1%;
  margin-top: auto;
  margin-bottom: auto;
}
.seccion-formularios-siniestro-y-nuevo-seguro .div-informe-de-siniestro .titulo-sinietro img {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 25%;
  width: 30px;
  height: 40px;
}
@media screen and (max-width: 500px) {
  .seccion-formularios-siniestro-y-nuevo-seguro .div-informe-de-siniestro .titulo-sinietro {
    height: 30px;
  }
  .seccion-formularios-siniestro-y-nuevo-seguro .div-informe-de-siniestro .titulo-sinietro img {
    margin-left: 22%;
    width: 22px;
    height: 30px;
  }
}
.seccion-formularios-siniestro-y-nuevo-seguro .div-informe-de-siniestro .formulario-siniestro h3 {
  text-align: center;
}
.seccion-formularios-siniestro-y-nuevo-seguro .div-informe-de-siniestro .formulario-siniestro .div-datos {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}
.seccion-formularios-siniestro-y-nuevo-seguro .div-informe-de-siniestro .formulario-siniestro .div-texto-botones {
  display: flex;
}
.seccion-formularios-siniestro-y-nuevo-seguro .div-informe-de-siniestro .formulario-siniestro .texto-indicador {
  padding-left: 5px;
  border: solid 2px grey;
  width: 170px;
  height: 35px;
}
.seccion-formularios-siniestro-y-nuevo-seguro .div-informe-de-siniestro .formulario-siniestro .botones-addfotos {
  color: white;
  background-color: rgb(204, 51, 102);
  width: 170px;
  height: 35px;
  margin-left: 5px;
}
.seccion-formularios-siniestro-y-nuevo-seguro .div-informe-de-siniestro .formulario-siniestro .input-cel {
  width: 520px;
}
@media screen and (max-width: 550px) {
  .seccion-formularios-siniestro-y-nuevo-seguro .div-informe-de-siniestro .formulario-siniestro h3 {
    font-size: 15px;
  }
  .seccion-formularios-siniestro-y-nuevo-seguro .div-informe-de-siniestro .formulario-siniestro h4 {
    text-align: center;
    font-size: 15px;
  }
  .seccion-formularios-siniestro-y-nuevo-seguro .div-informe-de-siniestro .formulario-siniestro .texto-indicador {
    margin-top: 10px;
  }
  .seccion-formularios-siniestro-y-nuevo-seguro .div-informe-de-siniestro .formulario-siniestro .div-texto-botones {
    display: inline;
  }
  .seccion-formularios-siniestro-y-nuevo-seguro .div-informe-de-siniestro .formulario-siniestro .botones-addfotos {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
  }
  .seccion-formularios-siniestro-y-nuevo-seguro .div-informe-de-siniestro .formulario-siniestro .input-cel {
    font-size: 15px;
    width: 170px;
  }
}

@media screen and (max-width: 500px) {
  .seccion-formularios-siniestro-y-nuevo-seguro .div-solicitud-seguro-nuevo .img-solicitud-seguro-nuevo-menos500px {
    display: block;
  }
  .seccion-formularios-siniestro-y-nuevo-seguro .div-solicitud-seguro-nuevo .img-solicitud-seguro-nuevo-mas500px {
    display: none;
  }
  .seccion-formularios-siniestro-y-nuevo-seguro .div-informe-de-siniestro .img-informe-de-siniestro-menos500px {
    display: block;
  }
  .seccion-formularios-siniestro-y-nuevo-seguro .div-informe-de-siniestro .img-informe-de-siniestro-mas500px {
    display: none;
  }
}



.div-acordiones-info-extra .div-img {
  text-align: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.div-acordiones-info-extra .img-titulo-serv-grua {
  max-width: 24%;
}
.div-acordiones-info-extra .div-img-grua {
  text-align: center;
  background-color: rgb(201, 60, 60);
}
.div-acordiones-info-extra .img-seguros-de-grua {
margin: 5em auto;
  max-width: 60%;
  max-height: auto;
  background-color: white;
}
.div-acordiones-info-extra .img-reclamos-de-terceros {
  max-width: 30%;
}
.div-acordiones-info-extra .img-informacion-inportante {
  max-width: 24%;
}
.div-acordiones-info-extra .accordion-button {
  height: 50px;
  background-color: rgb(201, 60, 60);
  margin-top: 10px;
}
.div-acordiones-info-extra .div-cuerpo-info-importante {
  padding-bottom: 10px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  background-color: rgb(201, 60, 60);
}
.div-acordiones-info-extra .acordion-info-importante {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: aliceblue;
}
.div-acordiones-info-extra .cristal {
  background-color: rgb(105, 241, 153);
}
.div-acordiones-info-extra .cristal:hover {
  background-color: rgb(50, 240, 116);
}
.div-acordiones-info-extra .div-cristales-abierto {
  color: black;
  background-color: aliceblue;
  border: solid 5px rgb(105, 241, 153);
  border-radius: 10px;
}
.div-acordiones-info-extra .siniestro-tercero {
  background-color: rgb(153, 204, 255);
}
.div-acordiones-info-extra .siniestro-tercero:hover {
  background-color: rgb(108, 176, 243);
}
.div-acordiones-info-extra .div-siniestro-abierto {
  color: black;
  background-color: aliceblue;
  border: solid 5px rgb(153, 204, 255);
  border-radius: 10px;
}
.div-acordiones-info-extra .ruedas {
  background-color: rgb(153, 102, 255);
}
.div-acordiones-info-extra .ruedas:hover {
  background-color: rgb(127, 80, 221);
}
.div-acordiones-info-extra .div-ruedas-abierto {
  color: black;
  background-color: aliceblue;
  border: solid 5px rgb(153, 102, 255);
  border-radius: 10px;
}
.div-acordiones-info-extra .chocaste {
  background-color: rgb(255, 153, 255);
}
.div-acordiones-info-extra .chocaste:hover {
  background-color: rgb(241, 101, 241);
}
.div-acordiones-info-extra .div-chocaste-abierto {
  color: black;
  background-color: aliceblue;
  border: solid 5px rgb(255, 153, 255);
  border-radius: 10px;
}
.div-acordiones-info-extra .btn {
  color: aliceblue;
  margin-top: 10px;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}
.div-acordiones-info-extra .div-abiertos {
  width: 45%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.div-acordiones-info-extra .accordion-body{
  margin: 0;
  padding: 0;
}

.div-acordiones-info-extra .accordion-button::after {
  content: none!important;
}

.div-acordiones-info-extra .accordion-button:not(.collapsed){
  background-color: rgb(201, 60, 60)!important;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.2;
  color: white!important;
}


@media screen and (max-width: 824px) {
  .div-acordiones-info-extra .accordion-button {
    height: 30px;
  }
  .div-acordiones-info-extra .img-informacion-inportante {
    max-width: 60%;
  }
  .div-acordiones-info-extra .img-reclamos-de-terceros {
    max-width: 70%;
  }
  .div-acordiones-info-extra .img-titulo-serv-grua {
    max-width: 50%;
  }
  .div-acordiones-info-extra .btn {
    width: 60%;
  }
  .div-acordiones-info-extra .div-abiertos {
    width: 60%;
  }
}
@media screen and (max-width: 650px) {
  .div-acordiones-info-extra .btn {
    width: 95%;
  }
  .div-acordiones-info-extra .div-abiertos {
    width: 95%;
  }
}

.consultas-seccion{
    margin-top: 6%;
    background-color:rgb(180, 180, 180);
  

}

.form{
    display:grid;
    width: 610px;
    margin-left: auto;
    margin-right: auto;
}

.form-im{
    margin-bottom: 10px;
}

.boton-enviar-form{
    width: 80px;
    height: 50px;
    background-color: rgb(201, 60, 60);
    border: solid rgba(255, 0, 0, 0.027) 1px;
    color: aliceblue;    
    
}

.div-form{
    width: max-content;  
}
.div-btn-form{
    background-color: antiquewhite;
    justify-self: end;  
}
.div-padre{
    
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}
.footer{
   
    justify-content:space-between;
    display: flex;
    background-color: rgb(19, 18, 18);}

.div-img{width:max-content;}
.img-footer{width: 150px;}
.div-horarios-footer{
    margin-top: 100px;
    margin-left: 100px;
}
h6{color: aliceblue;}


.img-solicitud-seguro{
    max-width: 100%;}
.img-informe-de-siniestro{
    max-width: 100%;
}
.img-servicio-de-grua{
    max-width: 100%;
 }
 .img-reclamos-de-terceros{
    max-width: 100%;
 }

 .img-info-importante{
    max-width: 100%;
 }
 .img-diferentes-seguros-banner{
    max-width: 100%;
 }

 .nosotros-img{border:solid 1px rgba(0, 0, 0, 0.11);
    width: 100%;}

 .seguros{
    margin-bottom: 50px;
 }

 .solicitud-de-seguro{  display: inline-block;
    position: relative;}

 .contenedor-solicitud-de-seguro{
    display: inline-block;
    position: relative;
 }
 .boton-solicitud-de-seguros{
    font-size: 30px;
    width: 8%;
    height: 60px;
    margin-top:13% ;
    margin-left: 26.5%;
    background-color: brown;
    position: absolute;}




 .contenedor-informe-de-siniestro{
    margin-top: 20px;
    display: inline-block;
    position: relative;
 }


.contenedor-diferentes-seguros{
    margin-top: 20px;
    display: inline-block;
    position: relative;
}
.contenedor-carrucel{
position:absolute;
}

 .servicios-reclamos-info{
    margin-top: 20px;
 }
 .contenedor-servicio-de-grua-info{
    margin-bottom: 20px;}
.reclamos-de-terceros{
    margin-bottom: 20px;
}

.seccion-nosotros{
   
    margin-top: 20px;

}

.boton-wsp {
    display: flex;
    justify-content: flex-end;
    position: relative;
  }
  .boton-wsp img {
    max-width: 100px;
  }
  
  .seccion-nosotros .accordion .accordion-button:not(.collapsed) {
    color: rgb(90, 89, 89);
  }
  .seccion-nosotros .accordion .accordion-button {
    margin-bottom: 15px;
    height: 40px;
    color: rgb(90, 89, 89);
    background-color: rgb(204, 204, 204);
    border: none !important;
  }
  .seccion-nosotros .accordion .accordion-button .accordion-button::after {
    content: none !important;
  }
  .seccion-nosotros .accordion .accordion-button .titulo-nosotros-h2-img {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    display: flex;
  }
  .seccion-nosotros .accordion .accordion-button .titulo-nosotros-h2-img img {
    max-width: 30px;
    max-height: 40px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .seccion-nosotros .accordion .accordion-button .titulo-nosotros-h2-img h2 {
    margin-left: 10px;
  }
  
  .seccion-formulario-contacto {
    background-color: rgb(204, 204, 204);
  }
  .seccion-formulario-contacto .h2-p {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
  }
  .seccion-formulario-contacto .h2-p h2 {
    padding-top: 20px;
    color: rgb(90, 89, 89);
  }
  .seccion-formulario-contacto .h2-p p {
    color: rgb(90, 89, 89);
  }
  .seccion-formulario-contacto form {
    margin-top: 20px;
  }
  .seccion-formulario-contacto form .div-input {
    margin-left: auto;
    margin-right: auto;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .seccion-formulario-contacto form .div-input input {
    width: 600px;
    height: 30px;
    margin-top: 5px;
  }
  .seccion-formulario-contacto form textarea {
    margin-top: 5px;
    width: 600px;
    height: 120px;
  }
  .seccion-formulario-contacto form .div-button {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    text-align: end;
    padding-bottom: 20px;
  }
  .seccion-formulario-contacto form .div-button button {
    width: 80px;
    height: 40px;
    background-color: rgb(204, 51, 102);
    color: antiquewhite;
  }
  .seccion-formulario-contacto form .div-button button:hover {
    margin-top: 5px;
    width: 90px;
    height: 45px;
    background-color: rgb(206, 12, 77);
    transition: 0, 5s;
  }
  @media (max-width: 615px) {
    .seccion-formulario-contacto .h2-p {
      width: 240px;
    }
    .seccion-formulario-contacto form .div-input input {
      width: 240px;
    }
    .seccion-formulario-contacto form textarea {
      width: 240px;
    }
    .seccion-formulario-contacto form .div-button {
      width: 240px;
    }
  }
  
  .seccion-contacto {
    border-top: solid 1px black;
    background-color: rgb(204, 204, 204);
  }
  .seccion-contacto .div-titulo-nombre-principal {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
  }
  .seccion-contacto .div-padre-flex-contacto {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 700px;
    display: flex;
    justify-content: space-between;
  }
  .seccion-contacto .div-padre-flex-contacto .div-email {
    padding-bottom: 10px;
  }
  .seccion-contacto .div-padre-flex-contacto .div-nombres {
    margin-top: 19px;
  }
  @media (max-width: 615px) {
    .seccion-contacto {
      height: 550px;
    }
    .seccion-contacto .div-titulo-nombre-principal {
      width: 250px;
    }
    .seccion-contacto .div-padre-flex-contacto {
      width: 250px;
      display: contents;
    }
  }
  
  .footer {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    background-color: #1b1717;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  .footer .horarios {
    margin-left: 20%;
    margin-top: auto;
    margin-bottom: auto;
    color: rgb(255, 255, 255);
  }
  .footer .QR img {
    max-width: 140px;
  }
  @media (max-width: 615px) {
    .footer {
      display: inline-block;
    }
    .footer .horarios {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
    }
    .footer .QR {
      margin-top: 10px;
      width: -webkit-min-content;
      width: -moz-min-content;
      width: min-content;
      margin-left: auto;
      margin-right: auto;
    }
  }